@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div style="display: flex; align-items: center; justify-content: center; flex-grow: 1; flex-direction: column;">
    <a href="./PendingReservations" class="mb-3" style="width: 220px;">
        <button class="btn btn-outline-dark" style="width: 100%; text-align: center;">Ausstehende Reservierungen</button>
    </a>
    <a href="./AllReservations" style="width: 220px;">
        <button class="btn btn-outline-dark" style="width: 100%; text-align: center;">Alle Reservierungen</button>
    </a>
</div>


