@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column;">
    <a href="./PendingReservations">
        <button style="font-size: 20px; padding: 10px 20px; margin: 5px; cursor: pointer;">Ausstehende Reservierungen</button>
    </a>
    <a href="./AllReservations">
        <button style="font-size: 20px; padding: 10px 20px; margin: 5px; cursor: pointer;">Alle Reservierungen</button>
    </a>
</div>
