<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DisApp24</title>

    <!-- Optional: Google Fonts for a modern touch -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Your Bootstrap version -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web.styles.css" asp-append-version="true" />

    <!-- Favicon -->
    <link rel="icon" href="~/path/to/favicon.ico" type="image/x-icon">
</head>

<body class="bg-light">
    <!-- Light background color -->

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <!-- Dark navbar with primary color -->
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DisApp24</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/PendingReservations">Ausstehende Reservierungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/AllReservations">Alle Reservierungen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex flex-column adjusted-height justify-content-between">
        <main class="container flex-grow-1 d-flex flex-column justify-content-center">
            @RenderBody()
        </main>
        <footer class="bg-primary text-white py-3">
            <div class="container">
                &copy; 2023 - DisApp24 - <a href="/Privacy" class="text-white text-decoration-none">Privacy</a>
            </div>
        </footer>
    </div>



    <!-- jQuery and Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
