html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.adjusted-height {
    min-height: calc(100vh - 56px); /* 56px ist die typische Höhe der Bootstrap-Navbar */
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}